body{
    background-color: bisque;
}

#icon{
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    width: 10%;
    height: 10%;
}

#penname{
    display: flex;
    justify-content: center;
}

#small{
    width: 5%;
    height: 5%;
}

#profile{
    margin: 0 auto;
    background-color: white;
    width: 50%;
    border-radius: 30px;
}

#text{
    text-align: center;
}

a{
    text-decoration:none;
    color: #FF9156;
}

header{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

span{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 40px;
    color: gold;
}
