body{
    background-color: bisque;
}

a{
    text-decoration:none;
    color: #FF9156;
}

header{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

span{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 40px;
    color: gold;
}

h1,h5{
    text-align: center;
}

table{
    margin: 0 auto;
}

td{
    border: 2px solid black;
    margin-right: 0px;
    margin-left: 0px;
}
